* {
  margin: 0;
}

div {
  height: 30px;
}

h2+div {
  background-color: green;
}

h2+div+div {
  background-color: yellow;
}

.box1,
.box2 {
  padding: 10px 0;
}

/* 
 중첩되는 수직 마진은 서로 상쇄되어 하나의 마진으로 공유되는 특성.
*/
.box3,
.box4 {
  margin: 10px 0;
}

/* 
 수직 마진이 서로 다른 경우 중첩되어 상쇄되는 특성으로 인해 마진이
 큰 쪽으로 수렴되어 통합.
*/
.box5 {
  margin: 20px 0;
}

.box6 {
  margin: 10px 0;
}


/* ======================================================================== */

.box7 {
  height: 70px;
  border: solid 5px red;
}

/* 
 부모요소인 box7 에 보더가 지정되어 자식요소인 box8 의 수직 마진과
 맞닿지 않으므로 수직 마진이 서로 공유되지 않음을 확인 가능.
*/
.box7,
.box8 {
  margin: 20px;
}

.box8 {
  border: 1px solid blue;
}

/* 
 부모요소인 box7 의 보더를 소멸시킴으로써 box7의 수직 마진과 자식
 요소인 box8 의 수직 마진이 서로 맞닿아 수직 마진을 서로 공유하게되는
 것을 확인 가능.
  또한 맞닿는 수직 마진은 공유되지만 수평 마진은 공유되지 않음을 확인
  가능.
*/
.box7:hover {
  border: none;
}